* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'saira extra condensed', sans-serif;
    letter-spacing: 1px;

}

:root {
    --bg-color-laranja: #E27425;
    --bg-color-azul: #263B5E;
    --bg-color-branco: #fff;
}

body {
    height: 100vh;
    width: 100vw;
}

#btnEntrar,
body {
    background-color: var(--bg-color-azul);
}

img {
    width: 30%;
}

main {
    width: 100%;
    height: 100%;
}

main,
section,
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

section {
    padding: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.349), 0 5px 20px 0 rgba(0, 0, 0, 0.322);
}

section,
button {
    background-color: var(--bg-color-laranja);
    color: var(--bg-color-branco);
    border-radius: 5px;
}

button {
    border: none;
    padding: 5%;
    margin: 4px;
}

#btnIniciar {
    width: 50%;
    height: 20%;
    font-size: 30px;  
}

button:hover {
    box-shadow: 0px 2px 5px rgb(255, 255, 255);
    color: var(--bg-color-azul);
    cursor: pointer;
    transition: 1s ease-in-out;
}

button:active {
    box-shadow: 0px 2px 5px rgb(255, 255, 255);
    transform: translateY(5%);
    transition: 0.6s ease-in-out;
}

@media only screen and (max-width:700px) {
    body {
        background-color: var(--bg-color-branco);
    }

    img {
        display: none;
    }

    main {
        justify-content: center;
    }

    .imgA {
        width: 90%;
        background: url(../assets/grow2.png) no-repeat;
        filter: drop-shadow(4px 4px 4px #E27425);
        background-position: bottom;
        background-size: 90%;
        height: 20%;
    }

    #btnIniciar {
        width: 90%;
        font-size: 20px;
    }

    #btnEntrar {
        background-color: var(--bg-color-laranja);
    }

    section,
    button {
        background: var(--bg-color-azul);
    }

}